<div class="index">
  <div class="information">
    <div>
      <div class="raw">店铺名字：{{businessData.business_name}}</div>
      <div class="raw">店铺地址：{{businessData.location}}</div>
      <div class="raw">营业时间：{{business_time}}</div>
      <div class="raw">联系方式：{{businessData.telphone}}</div>
      <div class="raw">店铺评分：{{businessData.score}}</div>
    </div>
    <el-button type="primary" style="height: 40px" @click="handleBase">修改信息</el-button>
  </div>
  <div class="order-list">
    <div style="font-size: 16px;font-weight: bold;margin-bottom: 20px">今日订单</div>
    <el-table :data="orderData" style="width: 100%" max-height="250">
      <el-table-column fixed prop="order_id" label="订单号" width="150">
      </el-table-column>
      <el-table-column prop="nickname" label="姓名" width="120">
      </el-table-column>
      <el-table-column prop="project_name" label="预订项目" width="120">
      </el-table-column>
      <el-table-column prop="price" label="已支付" width="120" :formatter="formatter">
      </el-table-column>
      <el-table-column prop="time_length" label="时长(小时)" width="120">
      </el-table-column>
      <el-table-column prop="date" label="下单时间" width="200">
      </el-table-column>
      <el-table-column prop="type" label="状态">
        <template slot-scope="scope">
          <el-tag :type="scope.row.type === 0 ? 'danger' : 'primary'" disable-transitions>
            {{scope.row.type === 0?"待处理":"已处理"}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="120">
        <template slot-scope="scope">
          <el-button @click.native.prevent="handleOrder(scope.$index, orderData)" type="text" size="small">
            处理
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <el-dialog title="店铺基本设置" :visible.sync="baseFormVisible">
    <el-form :model="editData">
      <el-form-item label="店铺名称" label-width="100px">
        <el-input v-model="editData.business_name" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="店铺地址" label-width="100px">
        <el-input v-model="editData.location" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="手机号" label-width="100px">
        <el-input v-model="editData.telphone" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="营业时间" label-width="100px" prop="business_start_time">
        <el-time-select placeholder="起始时间" v-model=" editData.business_start_time" :picker-options="{
              start: '05:00',
              step: '01:00',
              end: '22:00'
            }">
        </el-time-select>
        <el-time-select placeholder="结束时间" v-model="editData.business_end_time" :picker-options="{
              start: '06:00',
              step: '01:00',
              end: '24:00',
              minTime: editData.business_start_time
            }">
        </el-time-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="baseFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="setBase">确 定</el-button>
    </div>
  </el-dialog>
</div>